@keyframes slide-enter {
	to {
		opacity: 1;
	}
}

@keyframes slide-leave {
	to {
		opacity: 0;
		transform: scale(1) rotate(0.1deg);
	}
}

@keyframes slide-caption-entering {
	from {
		opacity: 0;
		transform: translateY(100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes slide-caption-leaving {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(100%);
	}
}

.slide {
	.absolute(0);
	overflow: hidden;

	.slideshow.ready &.slide-appear {
		opacity: 0;
	}
	.slideshow.ready &.slide-appear.slide-appear-active {
		animation: slide-enter 1s @swift-out forwards;
	}

	.slideshow.ready &.slide-enter {
		opacity: 0;
	}
	.slideshow.ready &.slide-enter.slide-enter-active {
		animation: slide-enter 1s @swift-out forwards;
	}
	.slideshow.ready &.slide-leave {
		opacity: 1;
	}
	.slideshow.ready &.slide-leave.slide-leave-active {
		animation: slide-leave 1s @swift-out forwards;
	}

	figcaption {
		background: linear-gradient(to top, fade(#000, 70%), fade(#000, 0%));
		.absolute(auto, 0, 0);
		height: @nav-height;
		padding: (@nav-height - 3rem) / 2;
		font-family: 'LubalinGraph';
		font-size: 3rem;
		text-shadow: @light-shadow;
		animation: slide-caption-entering 1s @swift-out forwards;
		z-index: 10;
	}

	.paused& i, .paused& .vjs-poster {
		animation-play-state: paused;
	}

	html:not(.iphone) &.full-video {
		.play-pause {
			opacity: 0;
			visibility: hidden;
			transition: opacity .2s ease-out, visibility 0s linear .2s;
		}

		.short {
			display: none;
			z-index: 1;
		}

		.full {
			display: block;
		}

		figcaption {
			animation: slide-caption-leaving 1s ease-out forwards;
		}
	} 
}